* {
  font-family:  Helvetica, Arial, sans-serif;
}

body{
  padding: 60px;;
}

.inputCat{
  margin: 20px;;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(134, 133, 133, 0.705);
}

label{ 
  text-shadow: 1px 2px #eee;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 3px #ddd;
  border-radius: 6px;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 3px #bbb;
  
}

.card p {
  padding: 5px;
  text-shadow: 2px 2px 2px rgb(143, 141, 141);
  text-align: center;
}

.card img{
  max-height: 170px;
}

.card:hover{
  transform: scale(1.05, 1.05);
  box-shadow: 3px 3px 5px rgb(95, 95, 95);
}


